<% layout('layouts/boilerplate') -%>
<h3 class="col-6 offset-3 log-title">Create a New Listing</h3>
<div class="row mt-4">
  <div class="col-8 offset-2">
    <form
      method="post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label><br />
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a Catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
        <div class="invalid-feedback">Please Fill Title</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label><br />
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label><br />
        <input
          type="file"
          name="listing[image][url]"
          placeholder="Enter image URL/link"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label><br />
        <select
          class="form-control Category"
          name="listing[category]"
          id="category"
          required
        >
          <option value="Trending" class="form-label">Trending</option>
          <option value="Rooms" class="form-label">Rooms</option>
          <option value="Iconic Cities" class="form-label">
            Iconic Cities
          </option>
          <option value="Mountain">Mountain</option>
          <option value="Arctic pool">Arctic pool</option>
          <option value="Camping">Camping</option>
          <option value="Farms">Farms</option>
        </select>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label><br />
          <input
            type="number"
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price Should be Valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label><br />
          <input
            type="text"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label><br />
        <input
          type="text"
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          class="form-control"
        />
        <div class="invalid-feedback">Location Should be valid</div>
      </div>

      <button class="btn btn-dark add-btn mt-4 mb-4">Add</button>
    </form>
  </div>
</div>
