<% layout('layouts/boilerplate') -%>
<h1 class="col-6 offset-3 sign-title">SignUp for Wanderlust</h1>
<div class="row mt-4">
  <div class="col-6 offset-3">
    <form
      method="post"
      action="/signup"
      class="needs-validation mb-4"
      novalidate
    >
      <div class="mb-3">
        <label for="username" class="form-label">Username : </label><br />
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please Fill Username</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email : </label><br />
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password :</label><br />
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
      </div>
      <br />
      <button class="btn btn-success mb-4">SignUp</button>
    </form>
  </div>
</div>
